* {
  margin: 0;
  padding: 0;
}

body {
  width: 1024px;
  margin: 0 auto;
  background: url("./images/bg.jpg") 2000px 1200px;
}

main {
  margin: 48px auto;
  max-width: 740px;
  background: url("./images/main.png");
  border: 3px solid rgb(86, 129, 221);
  border-radius: 24px;
  transition: box-shadow 300ms ease-out;
}

main:hover {
  box-shadow: 0 0 30px rgb(4, 80, 243);
}

a {
  font-size: 20px;
  color: #1451d4;
  text-decoration: none;
  transition: color 300ms ease-out;
}

a:hover {
  color: #f33232;
}

.candidate {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.candidate .title {
  color: rgb(7, 7, 7);
}

img {
  margin: 20px 0px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #a1a19e;
}

.candidate__name {
  font-size: 32px;
  font-family: "Arial Black", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 3px 1px #aaaaa7;
  color: #059bff;
}

.title {
  margin: 10px;
  font-size: 23px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #059bff;
  text-shadow: 1px 1px 1px #aaaaa7;
}

.contacts {
  margin: 5px 50px 40px;
}

.icon {
  position: relative;
  display: inline-block;
  height: 48px;
  margin-left: 90px;
  padding: 0 12px;
  line-height: 48px;
  font-weight: 700;
}

.icon::before {
  position: absolute;
  left: -48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  content: " ";
}

.post-margin {
  margin-bottom: 50px;
}

.speech {
  padding: 0px 40px;
  font-size: 20px;
  text-align: justify;
}

.ability__list li {
  margin-top: 5px ;
  margin-right: 50px;
}

.ability__list {
  margin: 0px 0px 50px 50px;
}

.email::before {
  background: url("./images/email.png");
  background-size: cover;
  border-radius: 25%;
}

.skype::before {
  background: url("./images/skype.png");
  background-size: cover;
  border-radius: 25%;
}

.git::before {
  background: url("./images/git.png");
  background-size: cover;
  border-radius: 25%;
}

.vscode::before {
  background: url("./images/vscode.png");
  background-size: cover;
  border-radius: 25%;
}

.js::before {
  background: url("./images/js.png");
  background-size: cover;
  border-radius: 25%;
}

.html::before {
  background: url("./images/html.png");
  background-size: cover;
  border-radius: 25%;
}

.css::before {
  background: url("./images/css.png");
  background-size: cover;
  border-radius: 25%;
}

.windows::before {
  background: url("./images/windows.png");
  background-size: cover;
  border-radius: 25%;
}

.github {
  position: relative;
  display: inline-block;
  height: 48px;
  margin-left: 230px;
  padding-left: 12px;
  font-weight: 700;
  line-height: 48px;
}

.github::before {
  position: absolute;
  left: -48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("./images/github.jpg");
  background-size: cover;
  border-radius: 50%;
  content: " ";
  transition: filter 200ms ease-out;
}

.github:hover::before{
  filter: hue-rotate(96deg);
}